/* Header elements: title, meeting title, date */
header {
    text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
}

h1 {
    font-size: 60px;
    font-family: fantasy;
    letter-spacing: 2px;
    color: #16123F;
    text-transform: uppercase;
}

hr {
    border: 1px solid #16123F;
}

body {
    background-color: #abd699;
    margin: 0 15% 0 15%;
}

li {
    padding-bottom: 5pt;
}

summary {
    padding: 0 0 1pc 1pc;
}

figure {
    border-style: solid;
    border-color: black;
    border-width: 2pt;
    border-radius: 10px;
    padding: 1pc;
}

figcaption {
    margin-bottom: 1pc;
}

a {
    color: darkblue;
    text-decoration: underline;
}

a:hover {
    color: white;
    background-color: darkblue;
}

a:active {
    color: white;
    background-color: darkblue;
    opacity: 40%;
}